<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <ul>
    <!-- Renderizando dinamicamente uma lista com diretiva v-for para percorrer cada item de uma lista e 
         acessando o índice atual do elemento. O índice é sempre o segundo parâmetro do v-for-->
    <li v-for="(cor, i) in cores" :teste="cor">{{i + 1}}) {{cor}}</li>
  </ul>  
  <hr>
  <!-- Renderizando dinamicamente uma lista com diretiva v-for para percorrer cada item de uma lista e 
         com template, sem adicionar uma tag que envolva as tags filhas. -->
  <template v-for="(cor, i) in cores">
    <h1>{{cor}}</h1>
    <p>{{i}}</p>
  </template>

  <hr>
  <!-- Neste caso, está adicionando uma div para cada elemento iterado. -->
  <div v-for="(cor, i) in cores">
    <h1>{{cor}}</h1>
    <p>{{i}}</p>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      cores: ['vermelho', 'verde', 'amarelo', 'azul'],
      pessoas: [
        {nome: 'Victor', idade: 27, peso: 60},
        {nome: 'Ana', idade: 30, peso: 57},
        {nome: 'Vanderson', idade: 34, peso: 87},
      ]
    }
  })
</script>

<style>
  ul{
    list-style: none;
  }

  h1, p{
    display: inline;
    margin-left: 10px;
  }
</style>